/** Lyrics */

.single-blythe_episode .entry-content {
  clear: none;
}

.post-type-archive-lyrics #s {
  padding: 20px;
  margin-bottom: 40px;
}

.single-lyrics {

  .entry-content,
  .resource-container {
    text-align: center;
  }

  .entry-content {
    .ccli-song {
      margin-left: 40px;
    }
  }

  .lyrics-info {
    width: 100%;
  }

  .youtube-container {
    margin-bottom: 40px;
  }

  .additional-songs {
    margin-top: 60px;
  }

}
